* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: black; */
    /* background-color: white; */
    margin-left: 30px;
}

div {
    padding-top: 5%;
    font-size: 2rem;
}